@import url("https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,700;1,400&display=swap");
/* font-family: 'Playfair Display', serif; */
* {
  margin: 0;
  box-sizing: border-box;
}

body {
  background-color: #000000;
  color: white;
  font-family: "Playfair Display", serif;
  text-shadow: 1px 1px 2px black;
}

.loader-container {
  width: 100vw;
  height: 100vh;
  position: relative;
}

.spinner,
.redSpinner {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  transition: ease 2s;
}
.spinner {
  border: 1px solid rgba(121, 121, 121, 0.111);
}

form {
  display: flex;
  justify-content: center;
}
h1 {
  text-align: center;
}
h2 {
  margin: 15px 0px;
}
h3 {
  font-style: italic;
}

.App {
  margin: auto;
}
fieldset {
  background-color: rgb(17, 17, 17);

  -webkit-border-radius: 8px;
  -moz-border-radius: 8px;
  border-radius: 8px;
}

input {
  width: 250px;
  background-color: transparent;
  border: none;
  color: white;
  text-align: center;
}
input:focus {
  outline: none;
}
.reorderBtn {
  margin: 10px;
}

.reorderBtn button {
  height: 50px;
  background-color: rgb(17, 17, 17);
  color: white;
  border: 2px solid rgb(192, 192, 192);
  border-radius: 8px;
  font-family: "Playfair Display", serif;
}
.collectionGallery {
  margin-top: 40px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.recordContainer {
  width: 18%;
  aspect-ratio: 1/1;
  background: #000000;
  display: flex;
  flex-wrap: wrap;
  overflow: hidden;
  position: relative;
  margin: 5px;
  border-radius: 5px;
}
.collectionGallery .recordContainer .record {
  border: 1px solid rgb(10, 10, 10);
  background-repeat: no-repeat;
  background-size: cover;
  height: auto;
  transition: all 0.5s;
  width: 100%;
  z-index: 100;
}
.collectionGallery .recordContainer:hover .record {
  -webkit-filter: blur(10px);
  -moz-filter: blur(10px);
  -o-filter: blur(10px);
  -ms-filter: blur(10px);
  filter: blur(2px);
  opacity: 0.7;
  -webkit-transform: scale(1.1);
  transform: scale(1.1);
}
.collectionGallery .recordContainer:hover .redSpinner {
  opacity: 0;
  transition: ease-in 0s;
}

.collectionGallery .recordContainer .recordOverlay {
  align-items: center;
  bottom: 0;
  box-sizing: border-box;
  color: #fff;
  display: flex;
  flex-direction: column;
  justify-content: center;
  left: 0;
  opacity: 0;
  padding: 20px;
  position: absolute;
  text-align: center;
  top: 0;
  transition: all 0.1s;
  width: 100%;
  z-index: 100;
}
.collectionGallery .recordContainer:hover .recordOverlay {
  opacity: 1;
}

@media (max-width: 700px) {
  .collectionGallery .recordContainer {
    width: 45%;
  }

  h2 {
    margin: 5px 0px;
    font-size: 18px;
  }
  h3 {
    font-style: italic;
    font-size: 14px;
  }
}
@media (min-width: 701px) and (max-width: 1300px) {
  .collectionGallery .recordContainer {
    width: 28%;
  }
}

.albumDetails {
  color: #fff;
  width: 100vw;
  height: 100vh;
  position: absolute;
  top: 0;
  background-color: black;
  text-align: center;
}

.Header {
  width: 100vw;
  padding: 20px;
  display: flex;
  justify-content: space-between;
}
.logo img {
  width: 45px;
  filter: grayscale(30%);
}

.closeBtn {
  width: 2%;
}
